process=false
strict-ssl=false
registry=https://artifactory.global.standardchartered.com/artifactory/api/npm/npm-release
cache-min=2592000
proxy=http://10.142.125.36:8080
https-proxy=http://10.142.125.36:8080